<a href="https://colab.research.google.com/github/Jewelzufo/Datascienceecosystem/blob/main/Sqlite3DB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import sqlite3

# Create a connection to the SQLite database (or create it if it doesn't exist)
conn = sqlite3.connect('mydatabase.db')

# Get a cursor object to execute SQL commands
cursor = conn.cursor()

# Create a table (if it doesn't exist)
cursor.execute('''CREATE TABLE IF NOT EXISTS customers (
                  id INTEGER PRIMARY KEY,
                  name TEXT,
                  email TEXT
                )''')

# Insert some data into the table
cursor.execute("INSERT INTO customers (name, email) VALUES ('Alice', 'alice@example.com')")
cursor.execute("INSERT INTO customers (name, email) VALUES ('Bob', 'bob@example.com')")

# Commit the changes to the database
conn.commit()

# Fetch all rows from the customers table
cursor.execute("SELECT * FROM customers")
rows = cursor.fetchall()

# Print the fetched data
for row in rows:
    print(row)

# Close the connection
#
conn.close()

(1, 'Alice', 'alice@example.com')
(2, 'Bob', 'bob@example.com')
(3, 'Alice', 'alice@example.com')
(4, 'Bob', 'bob@example.com')
(5, 'Alice', 'alice@example.com')
(6, 'Bob', 'bob@example.com')

In [11]:
import sqlite3

conn = sqlite3.connect('mydatabase.db')

cursor = conn.cursor()

#cursor.execute("CREATE TABLE plants (id INTEGER PRIMARY KEY, name TEXT, email TEXT)")

cursor.execute("SELECT * FROM customers")
rows = cursor.fetchall()
for row in rows:
    print(row)

conn.commit()
conn.close()

(1, 'Alice', 'alice@example.com')
(2, 'Bob', 'bob@example.com')
(3, 'Alice', 'alice@example.com')
(4, 'Bob', 'bob@example.com')
(5, 'Alice', 'alice@example.com')
(6, 'Bob', 'bob@example.com')

In [13]:
import sqlite3
import random
import string

def generate_random_name():
    return ''.join(random.choices(string.ascii_letters, k=random.randint(5, 10)))

def generate_random_email():
    return ''.join(random.choices(string.ascii_letters, k=random.randint(5, 10))) + '@example.com'

conn = sqlite3.connect('mydatabase.db')
cursor = conn.cursor()

#cursor.execute("CREATE TABLE plants (id INTEGER PRIMARY KEY, name TEXT, email TEXT)")

for _ in range(50):
    name = generate_random_name()
    email = generate_random_email()
    cursor.execute("INSERT INTO plants (name, email) VALUES (?, ?)", (name, email))

conn.commit()
conn.close()

In [9]:
conn.close()

In [15]:
import sqlite3
import random
import string

def generate_random_name():
    return ''.join(random.choices(string.ascii_letters, k=random.randint(5, 10)))

def generate_random_email():
    return ''.join(random.choices(string.ascii_letters, k=random.randint(5, 10))) + '@example.com'

conn = sqlite3.connect('mydatabase.db')
cursor = conn.cursor()

for _ in range(50):
    name = generate_random_name()
    email = generate_random_email()
    cursor.execute("INSERT INTO plants (name, email) VALUES (?, ?)", (name, email))

conn.commit()
conn.close()

In [16]:
import sqlite3
import random
import string

def generate_random_name():
    return ''.join(random.choices(string.ascii_letters, k=random.randint(5, 10)))

def generate_random_email():
    return ''.join(random.choices(string.ascii_letters, k=random.randint(5, 10))) + '@example.com'

conn = sqlite3.connect('mydatabase.db')
cursor = conn.cursor()

# Retrieve the data
cursor.execute("SELECT * FROM plants")
rows = cursor.fetchall()

# Print the data
for row in rows:
    print(row)

conn.close()

(1, 'sncDpCUFX', 'VKkFekCmh@example.com')
(2, 'XrGeeoWFjo', 'wLzUxj@example.com')
(3, 'HVCevEdBJW', 'wNjJP@example.com')
(4, 'EufBi', 'YoGbikdp@example.com')
(5, 'SpSNOS', 'cdMJSGsVV@example.com')
(6, 'EwwRkuLrx', 'yQEZJ@example.com')
(7, 'iDvTkhDtz', 'QvJzRWWYpq@example.com')
(8, 'gNofEgUvy', 'hFjQXxaJYB@example.com')
(9, 'wkNtQpAEgw', 'GIpxIrbzW@example.com')
(10, 'Tvpzb', 'MOkxaj@example.com')
(11, 'mwzZMqvKiC', 'NeUkjKzn@example.com')
(12, 'glusayN', 'PUMoRY@example.com')
(13, 'grFaYPahe', 'PXkzy@example.com')
(14, 'fXLyuKviN', 'LwCuIu@example.com')
(15, 'RyurxTY', 'LIQlRPO@example.com')
(16, 'AlVKZE', 'WxORSzpU@example.com')
(17, 'tItateEn', 'ZBOaTtr@example.com')
(18, 'JeaGrtRvF', 'TUwPda@example.com')
(19, 'UsYLKv', 'azOkX@example.com')
(20, 'IWwfkJgaZ', 'Cknqamey@example.com')
(21, 'YOdcIef', 'IfrlY@example.com')
(22, 'bVFZhKtbPC', 'fGqWooQ@example.com')
(23, 'wDEbvw', 'fIaxs@example.com')
(24, 'PKIGn', 'JbtPTdBKv@example.com')
(25, 'rMYYOjWZ', 'sUJVl@example.com')
(26, 'bypbjgzcl', 'ZhJaAKsmV@example.com')
(27, 'Woquyy', 'qUimIZ@example.com')
(28, 'UkwJCsh', 'ZeRCpKqqbl@example.com')
(29, 'ojUrzp', 'FKfhIFLzxD@example.com')
(30, 'tkHtaserLD', 'hvaRGphbQ@example.com')
(31, 'QwLOPwS', 'sekwp@example.com')
(32, 'OIlgYqPu', 'AXkbRTUr@example.com')
(33, 'VMiElWgAC', 'lfTfuyH@example.com')
(34, 'tXFyonBQQE', 'EfMZytzHKU@example.com')
(35, 'gTytXd', 'LXCMcvv@example.com')
(36, 'Dfmamx', 'cNcppuFZo@example.com')
(37, 'OSJbK', 'sFSbG@example.com')
(38, 'zoDMCvCt', 'ecTaCZnO@example.com')
(39, 'BUfnoA', 'bEOdNLM@example.com')
(40, 'RuAvgjs', 'TmGkiZ@example.com')
(41, 'qdQJxJ', 'OCrfz@example.com')
(42, 'pbjKeGWD', 'wvVTe@example.com')
(43, 'xolPqzSI', 'lDlzZlAkr@example.com')
(44, 'dMFsutMPTW', 'rQGJtC@example.com')
(45, 'DcTiRRSd', 'eFVmxOq@example.com')
(46, 'bLygE', 'kYQwvpLdvt@example.com')
(47, 'ZpPuwqjDvN', 'LxbYqM@example.com')
(48, 'xRIlxyr', 'yzrKM@example.com')
(49, 'mvlvuVwXGV', 'oapCcFEcL@example.com')
(50, 'FGFEUalS', 'GtHFSSz@example.com')
(51, 'krtfHSH', 'SPbkEkB@example.com')
(52, 'gerRKyF', 'ApITBD@example.com')
(53, 'vqhvRtj', 'OsOVg@example.com')
(54, 'NWEAZDlb', 'ZCkjZXQg@example.com')
(55, 'EpshUY', 'xplrXPD@example.com')
(56, 'mQeIZKpYyQ', 'GrWQXiu@example.com')
(57, 'QdduL', 'InRgDOLDhx@example.com')
(58, 'MbrIxba', 'tnjcpvRNO@example.com')
(59, 'obLIhej', 'sbYjIiEJc@example.com')
(60, 'uKPKAw', 'IrJNHaLdDw@example.com')
(61, 'eeknRek', 'enJbEwq@example.com')
(62, 'JVObPl', 'YInpHTG@example.com')
(63, 'sanJNgF', 'vjzpymCh@example.com')
(64, 'yudupRuk', 'bTsCEmd@example.com')
(65, 'hBRQmHSM', 'wFLBNHBPS@example.com')
(66, 'pPJygPWhK', 'gSiKnFQPgp@example.com')
(67, 'iejyBYImCa', 'vTeGGVc@example.com')
(68, 'czaKued', 'AqJmvDq@example.com')
(69, 'ytMUcTQ', 'jAvtH@example.com')
(70, 'GjoZcQWL', 'AtITPrF@example.com')
(71, 'ssShAtC', 'PkwgWPtT@example.com')
(72, 'pVXuvX', 'LpOug@example.com')
(73, 'RvFIStaU', 'ylTgQrcZGP@example.com')
(74, 'IcpPjSC', 'twgEiVg@example.com')
(75, 'EuZiKbNAsH', 'jYrEEUF@example.com')
(76, 'pBwAobm', 'HVVRI@example.com')
(77, 'xuJhjCTU', 'DHNOycXhu@example.com')
(78, 'vKoFqb', 'UZlIGBzT@example.com')
(79, 'Vabnc', 'xabYFg@example.com')
(80, 'myZFIxSDk', 'cXrIKLz@example.com')
(81, 'xfnBACrUs', 'WzsrfhS@example.com')
(82, 'TnuxPYQs', 'SnluxfU@example.com')
(83, 'HgDTSprfN', 'svCvN@example.com')
(84, 'SvgaaRjzTF', 'PvChLjoq@example.com')
(85, 'Qdfsvb', 'OjlAqKGEIK@example.com')
(86, 'wYPDa', 'BOVMKMZbJq@example.com')
(87, 'ZZXHoUgs', 'pGwnoxf@example.com')
(88, 'KeoHwdP', 'aooNNKpZpP@example.com')
(89, 'LsHts', 'YPTuyhYAtR@example.com')
(90, 'XzGYdBHO', 'rackfHubG@example.com')
(91, 'yiVbxKyZgO', 'UizxcnZ@example.com')
(92, 'HNMDdCpJQ', 'TtqmBrxClC@example.com')
(93, 'ArjGt', 'OjYDENGGo@example.com')
(94, 'UAYguqlmM', 'zDXLDhE@example.com')
(95, 'SOkHQe', 'AsxEXCf@example.com')
(96, 'VCwxgwms', 'GyoztLGR@example.com')
(97, 'YcMdI', 'WugPJ@example.com')
(98, 'dhTGIJZQlm', 'yyEmxqwMuy@example.com')
(99, 'mQCTCQFRy', 'TpoVIuTa@example.com')
(100, 'uQECxVtzSW', 'GotZR@example.com')